{% extends "base_generic.html" %}

{% block content %}

<div class="hiddentext" style="display: none;">Compute Canada, CC Doc, narval, cedar, graham, niagara, beluga, siku,SANDER, PMEMD, GROMACS, AMBER, OPENMM, NAMD, Desmond, MD, simulation speed, ns/day, days/ns, simulation parameters, SLURM, sbatch, submission script, parallel scaling, optimization, benchmark</div>

<div class="pt-4 border-0 text-left" style="background-image: url('https://mdbench.ace-net.ca/static/media/images/fig3.png'); border-radius: 0; height:200px;" >
<div class="col-sm-5 pt-5">
  <h3 >FIND THE OPTIMAL<br>SUBMISSION PARAMETERS</h3>
</div> 
</div>
{% endblock %}

{% block content2 %}



<div class="row gx-0" style="background-color: #eee;">
  <div class="col-sm-4">
    <div class="d-flex justify-content-center pt-3">
        <div class="card border-0" style="background-color: #eee;">
            <div class="card-body">
                  <h4 class="card-title">SPEED UP SIMULATION</h4>
                  <ul class="list-group list-group-flush">
                  <li class="list-group-item" style="background-color: #eee;">
                    <h5 class="card-subtitle p-2">Finding optimal resources</h5>A poor choice of job submission or simulation parameters leads to poor performance and a waste of computing resources. However, finding optimal MD engines and submission parameters in a complex HPC environment with heterogeneous hardware is a daunting and time-consuming challenge. We developed this web portal to simplify this task.</li>
                  <li class="list-group-item" style="background-color: #eee;">
                    <h5 class="card-subtitle p-2">How fast will a simulation run?</h5> Chart of the maximum simulation speed of all tested MD executables attained on CC systems provides a quick idea of how long a simulation will take. </li>
                  <li class="list-group-item" style="background-color: #eee;">
                    <h5 class="card-subtitle p-2">Finding balance between speed and efficiency</h5> The fastest simulations may be inefficient due to poor parallel scaling to many CPUs or GPUs. Inefficient simulations consume more resources and impact priority, resulting in longer times in queue and less work done. Color-coded by efficiency chart allows choosing an optimal combination of speed and efficiency.</li>
                  <li class="list-group-item" style="background-color: #eee;">  
                    <h5 class="card-subtitle p-2">Exploring the database</h5>All benchmarks are available from the <i>Explore</i> menu <a  href={% url 'bootstrapfilter' %}><i class="fas fa-link link-success"></i></a>. This menu offers tools for querying, filtering, and viewing benchmark data. </li>   
                  <li class="list-group-item" style="background-color: #eee;">  
                    <h5 class="card-subtitle p-2">Viewing QM/MM benchmarks</h5>To view QM/MM benchmarks select simulation system 4cg1 in the <i>Explore</i> window <a  href={% url 'bootstrapfilter' %}?software_contains=&software_id=&module_contains=&module_version=&site_contains=&gpu_model=&cpu_model=&arch=&dataset=4cg1 ><i class="fas fa-link link-success"></i></a>.</li>   
                  </ul>
             </div>
         </div>
     </div>
  </div>

  <div class="col-sm-8">
      <div class="d-flex justify-content-center pt-3">
          <div class="card border-0" style="background-color: #eee;">
              <div class="card-body">
                <h4 class="card-title">Best Performance Of Each MD Engine Among All Clusters</h4>
                <div class="card-img-top">
                   {% autoescape off %}
                   {{ figure }}
                   {% endautoescape %}
                   <div class="text-end" style="color: #666;"><small><sup>*</sup>Data from simulation of 6n4o system with ~240,000 atoms, updated  {{date_updated | date}}</small></div> 
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row gx-0" style="background-color: #fff">
  <div class="col-sm-8" style="background-color: #fff">
      <div class="d-flex justify-content-center  pt-3">
           <div class="card border-0" style="background-color: #fff">
              <div class="card-body">
                  <h4 class="card-title pt-2" style="color: #B79754;">Cost Of Simulations Using Best Performing CPU-only MD Engines</h4>
                  <div class="card-img-top">
                    {% autoescape off %}
                      {{ figure_cost_cpu }}
                    {% endautoescape %}
                    <div class="text-end" style="color: #666;"><small><sup>*</sup>Data from simulation of 6n4o system with ~240,000 atoms, updated {{date_updated | date}}</small></div>                  
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-sm-4">
     <div class="d-flex justify-content-center pt-3">
        <div class="card border-0" style="background-color: #fff;">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                  <h4 class="card-title" style="color: #B79754;" >OPTIMIZING CPU USAGE</h4>
                   <li class="list-group-item">
                     <h5 class="card-subtitle p-2" style="color: #B79754;">Cost of a simulation</h5>Choosing fast and efficient job submission parameters is a good approach, but the total amount of computing resources used for a job, as we call it, cost, is more important. Three components define cost: CPU time, GPU time, and RAM. We measure cost in core years and GPU years. Core year is the equivalent of using one CPU core continuously for a full year and GPU year is the equivalent of using one GPU continuously for a full year.</li> 
                   <li class="list-group-item">                   
                     <h5 class="card-subtitle p-2" style="color: #B79754;">Minimizing queue time</h5>Scheduler controls resource usage to ensure that each user gets equal resources. If you use more resources than an average user, the scheduler will put your jobs on hold so that other users can catch up. You can avoid delays by minimizing the cost. Often you can significantly reduce cost by choosing simulations that are only slightly slower than the fastest but expensive ones <a href={% url 'bootstrapfilter' %}?software_contains=PMEMD.cuda&site_contains=Cedar&gpu_model=V100&dataset=6n4o><i class="fas fa-link link-success"></i></a>.</li>                
                </div>                  
              </div>
            </div>
          </div>
       
<div class="row gx-0" style="background-color: #eee">
  <div class="col-sm-8" style="background-color: #eee">
    <div class="d-flex justify-content-center pt-3">
        <div class="card border-0" style="background-color: #eee;">
            <div class="card-body">
                <h4 class="card-title" style="color: #B79754;">Cost Of Simulations Using Best Performing GPU-accelerated MD Engines</h4>
                  <div class="card-img-top">
                    {% autoescape off %}
                      {{ figure_cost_gpu }}
                    {% endautoescape %}
                    <div class="text-end" style="color: #666;"><small><sup>*</sup>Data from simulation of 6n4o system with ~240,000 atoms, updated  {{date_updated | date}}</small></div> 
                  </div>   
              </div>   
          </div>            
      </div>
  </div>

  <div class="col-sm-4">
    <div class="d-flex justify-content-center pt-3">      
            <div class="card border-0" style="background-color: #eee;">
              <div class="card-body">
                   <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: #eee;">  
                      <h4 class="card-title" style="color: #B79754;" >OPTIMIZING GPU USAGE</h4>
                      <h5 class="card-subtitle p-2" style="color: #B79754;">Understanding GPU equivalents</h5>We express GPU usage in GPU equivalents per year. GPU equivalent is a bundle made up of a single GPU, several CPU cores, and some memory (CPU memory, not VRAM) <a href="https://docs.computecanada.ca/wiki/Allocations_and_compute_scheduling#What_is_a_GPU_equivalent_and_how_is_it_used_by_the_scheduler.3F"> <i class="fas fa-external-link-alt link-success"></i></a>. Composition of GPU equivalents is variable because it is defined by a number of CPU cores and RAM per GPU in a compute node.</li>
                    <li class="list-group-item" style="background-color: #eee;">
                      <h5 class="card-subtitle p-2" style="color: #B79754;">Benchmarking CPU-only MD Engines</h5>We calculate CPU usage in core equivalents per year. Core equivalent is a bundle made up of a single core, and some memory associated with it <a href="https://docs.computecanada.ca/wiki/Allocations_and_compute_scheduling#What_is_a_core_equivalent_and_how_is_it_used_by_the_scheduler.3F"><i class="fas fa-external-link-alt link-success"></i></a>. For most of the systems one core equivalent includes 4000M per core.</li>                        
                    <li class="list-group-item" style="background-color: #eee;">
                      <h5 class="card-subtitle p-2" style="color: #B79754;">Benchmarking GPU accelerated MD Engines</h5>For benchmarking we use the optimal number of cores per GPU (the number needed for the fastest simulation time but not exceeding the maximum number of CPU cores per GPU in a GPU equivalent).</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="container-fluid pt-3">
    <div class="card pt-3" style="background-color: #eee;">
        <div class="card-body">
            <h3 class="card-title">BENCHMARK RESULTS</h3>
            <div style="background-color: #eee;">
                        <table class="table table-hover">
                            {% include "mdbench/t_head.html" %}
                            {% for benchmark in benchmarks %}
                            <tr>
                                {% include "mdbench/t_data.html" %}
                            </tr>   
                            {% endfor %}
                        </table>
            </div>   
            <div class="text-end"  style="color: #666;"><small>Date Updated: {{date_updated}}</small><div>                       
        </div>
      </div>
   </div>
</div>  
{% endblock %}
