.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

body {
    margin-top: 0px;
    color: rgb(0, 0, 0);
    background-color: #eee; 
  }

  h1 {
    color: #85b737;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
 
  h3 {
    color: #85b737;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  h4 {
    color: #85b737;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  h5 {
    color: #85b737;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  label {
    color: #85b737;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

 ol, ul {
   list-style-position: outside;
   padding: 0;
}

.div {border-radius: 0;}

.hiddentext {
position: absolute
top: 0px;
left: -5000px;
}

.pagination ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active a {
  background-color: rgba(9, 136, 50, 0.653);
  color: white;
}

.pagination li:hover:not(.active) a {
  background-color: #ddd;
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: rgb(108, 176, 105) !important;
  border-color: #eee
}