{% extends "base_generic.html" %}

{% block content %}
<div class="py-4" style="color: #fff; background-image: url('https://mdbench.ace-net.ca/static/media/images/fig3.png'); height:200px;">
    <h3>ABOUT</h3>
</div>    
{% endblock content %}
{% block content2 %}
    <div class="p-4 text-left" style="background-color: #eee; color:#000;">
        <h3>What are the fastest and most efficient ways to run MD simulations?</h3>
        <p>A poor choice of job submission or simulation parameters leads to poor performance and a waste of computing resources. A common mistake is requesting too many CPUs or GPUs to run a simulation as fast as possible. The fastest simulations may be inefficient due to poor parallel scaling. As a result, such simulations use excessive resources and negatively impact priority, resulting in longer queue times and reduced productivity.</p>

        <p>Finding optimal MD engines and submission parameters in a complex HPC environment with heterogeneous hardware poses a daunting and time-consuming challenge. We designed this interactive performance guide to simplify optimization of MD simulations. This web portal presents performance metrics of all installed MD software packages. It includes a searchable benchmarks database with simulation details such as hardware descriptions, SLURM submission scripts and input files for simulations.</p>

        <p>Currently, the database contains benchmarks for four major MD software packages: AMBER, GROMACS, NAMD and OpenMM. The efforts to test all possible hardware/software combinations are underway.</p>
    </div>
</div>
{% endblock content2 %}
