{% extends "base_generic.html" %}

{% block content %}
<div class="py-4" style="color: #fff; background-image: url('https://mdbench.ace-net.ca/static/media/images/fig3.png'); height:200px;">
    <h3>ABOUT</h3>
</div>    
{% endblock content %}
{% block content2 %}
    <div class="p-4 text-left" style="background-color: #eee; color:#000;">
        <p>Benchmarking is essential for designing optimal MD workflows because a poor choice of job submission or simulation parameters can degrade performance and waste computing resources. However a systematic benchmarking of numerous MD engines in a complex HPC environment with heterogeneous hardware is a daunting and time-consuming task.</p>
        This web portal aims to help researchers to optimize usage of hardware resources and, at the same time, keep simulation time to a minimum. It provides an up-to-date performance comparison of all installed software packages and a searchable database of benchmarks. Each database entry includes simulation details such as the hardware description, example submission scripts, and simulation input files. Currently, the database has benchmarks for three major MD software packages: AMBER, GROMACS, and NAMD. This data allows to estimate resources required for simulations and helps new users to get started with MD simulations.
    </div>
</div>
{% endblock content2 %}
