{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
<p></p>
<h2>Advanced Search</h2>
    <form action="" method="get">
   
    {% for field in filter.form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
  {% endfor %}
  <div class="row"><div class="col-sm-12">
  <button type="submit" class="btn btn-outline-primary float-end">Submit</button>
</div></div>
</form>

    <h2>Search results</h2>
    <table class="table table-sm table-hover">
        <caption>List of benchmarks. Click on a link in the ID column for benchmark details.</caption>
        {% include "mdbench/t_head.html" %}
        {% for benchmark in filter.qs %}
        <tr>
       {% include "mdbench/t_data.html" %}
       </tr>   
        {% endfor %} 
      </table>

{% endblock %}