{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
<p></p>
<h2>Advanced Search</h2>
    <form action="" method="get">
   
    {% for field in filter.form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
  {% endfor %}
  <div class="row"><div class="col-sm-12">
  <button type="submit" class="btn btn-outline-primary float-end">Submit</button>
</div></div>
</form>


{% autoescape off %}
{{ plot_div }}
{% endautoescape %}

{% endblock content %}