{% extends "base_generic.html" %}
{% block content %}
<div class="py-4" style="background-image: url('https://mdbench.ace-net.ca/static/media/images/background.png'); height: 200px;">
  <h3>BENCHMARK DETAILS</h3>
</div>
{% endblock %}
{% block content2 %}
{% load pygmentify %}
{% pygment %}
<div class="p-4">
<h3>ID={{benchmarkinstance.id }} </h3>
<ul>
  <li><strong>Dataset:</strong></strong> {{ benchmarkinstance.benchmark }}</li> 
  <li><strong>Software:</strong> {{ benchmarkinstance.software }}</li>
  <li><strong>Resource:</strong> {{ benchmarkinstance.resource.ntasks }} tasks, {{ benchmarkinstance.resource.ncpu }} cores, {{ benchmarkinstance.resource.nodes }} nodes, {{ benchmarkinstance.resource.ngpu }} GPUs, {{ benchmarkinstance.resource.nvlink | yesno:"with,no"}} NVLink</li>
  <li><strong>CPU:</strong> {{ benchmarkinstance.cpu }}</li> 
  <li><strong>GPU:</strong> {{ benchmarkinstance.gpu }}</li> 
  <li><strong>Simulation speed:</strong> {{ benchmarkinstance.rate_max }} ns/day</li> 
  <li><strong>Efficiency:</strong> {{ benchmarkinstance.cpu_efficiency }} %</li> 
  <li><strong>Site:</strong> {{ benchmarkinstance.site }}</li>
  <li><strong>Date:</strong> {{ benchmarkinstance.updated_at }}</li>  
  <li><strong>Submission script:</strong><pre lang="bash">{{ benchmarkinstance.sbatch_script | linebreaks | safe }}</pre></li>   
  <li><strong>Notes:</strong> {{ benchmarkinstance.notes | linebreaks }}</li>   
  <li><strong>Simulation input file:</strong><pre lang="python">{{ benchmarkinstance.serial.simulation_input.input | linebreaks | safe }}</pre></li> 
</ul> 
</div>
{% endpygment %}
{% endblock %}