{% extends "base_generic.html" %}
{% block content %}

<div class="py-4" style="background-image: url('/media/images/fig3.png'); height: 200px;">
  <h3>CPU MODELS</h3>
</div>
{% endblock content %}

{% block content2 %}
{% if cpu_list %}
<div>
  <table class="table table-sm table-hover table-compact">
    <thead class="table-secondary">
      <th>ID</th>     
      <th>Name</th> 
      <th>Model</th> 
      <th>Codename</th> 
      <th>Frequency</th> 
  </thead> 
  {% for cpu in cpu_list %}
    <tr>
       <td> {{ cpu.id }}</td>
       <td> {{ cpu.name}}</td> 
       <td> {{ cpu.model}}</td>       
       <td> {{ cpu.codename }}</td> 
       <td> {{ cpu.frequency }}</td> 
  {% endfor %} 
  </tr>
  </table>
</div>
{% else %}
  <p>There are no CPUs in the database.</p>
  {% endif %}
{% endblock %}