{% extends "base_generic.html" %}
{% block content %}

<div class="py-4" style="background-image: url('/media/images/fig3.png'); height: 200px">
  <h3>GPU MODELS</h3>
</div>
{% endblock content %}

{% block content2 %}
{% if gpu_list %}
<div>
  <table class="table table-sm table-hover">
    <thead class="table-secondary">
      <th>ID</th>     
      <th>Name</th> 
      <th>Model</th> 
      <th>VRAM</th>    
  </thead> 
  {% for gpu in gpu_list %}
    <tr>
       <td> {{ gpu.id }}</td>
       <td> {{ gpu.name}}</td> 
       <td> {{ gpu.model}}</td>    
       <td> {{ gpu.vram}} GB</td>           
  {% endfor %} 
  </tr>
  </table>
</div>
{% else %}
  <p>There are no CPUs in the database.</p>
  {% endif %}
{% endblock %}