{% extends "base_generic.html" %}
{% block content %}
{% if gpu_list %}
  <h2>GPU models</h2>
  <table class="table table-sm table-hover">
    <thead class="table-secondary">
      <th>ID</th>     
      <th>Name</th> 
      <th>Model</th> 
  </thead> 
  {% for gpu in gpu_list %}
    <tr>
       <td> {{ gpu.id }}</td>
       <td> {{ gpu.name}}</td> 
       <td> {{ gpu.model}}</td>       
  {% endfor %} 
  </tr>
  </table>
{% else %}
  <p>There are no CPUs in the database.</p>
  {% endif %}
{% endblock %}