{% extends "base_generic.html" %}

{% block content %}
<h2>About</h2>
<p>This portal provides researchers with detailed information about the performance and efficiency of MD simulations on heterogeneous Compute Canada clusters. Currently, it contains benchmarks for three major MD software packages: AMBER, GROMACS, and NAMD. This information should allow researchers to estimate the performance they can expect for similar simulations. All entries include example submission scripts and simulation input parameters to help new users to get started with MD simulations and optimize submission of their simulations. </p>

{% autoescape off %}
{{ plot_div }}
{% endautoescape %}

{% endblock content %}