{% extends "base_generic.html" %}
{% block content %}
<div class="py-4" style="background-image: url('https://mdbench.ace-net.ca/static/media/images/background.png'); height: 200px;">
  <h3>SOFTWARE DETAILS</h3>
</div>
{% endblock %}
{% block content2 %}
{% load pygmentify %}
{% pygment %}
<div class="p-4">
<h3>ID={{software.id}}, {{software.name}}</h3>
<ul>
<li><strong>Module/Version:</strong> {{ software.module}}/{{ software.module_version }}</li>
<li><strong>Toolchain/Version:</strong> {{ software.toolchain}}/{{ software.toolchain_version }}</li>
<li><strong>CPU instruction set:</strong> {{ software.instruction_set}}</li>
<li><strong>Example job submission script:</strong><div class='p-3 mb-0 text-secondary'>
    <pre lang="bash">{{ software.example_submission | linebreaks}}</pre></div></li> 
<li><strong>Benchmark submission script:</strong><div class='p-3 ml-5 mb-0 text-secondary'>
    <pre lang="bash"> {% autoescape off %} {{ software.benchmark_submission  | linebreaks}}{% endautoescape %}</pre></div></li> 
</ul>
</div>
{% endpygment %}
{% endblock %}