{% extends "base_generic.html" %}

{% block content %}
<div class="py-4" style="background-image: url('https://mdbench.ace-net.ca/static/media/images/fig3.png'); height: 200px">
  <h3>SOFTWARE DETAILS</h3>
</div>
{% endblock%}

{% block content2 %}
{% if software_list %}
  {% if software_list.count == 1 %}
    {% for software in software_list %}
      {% load pygmentify %}
      {% pygment %}
      <div class="p-4">
      <h3>ID={{ software.id}}, {{ software.name}}</h3>
      <ul>
      <li><strong>Module/Version:</strong> {{ software.module}}/{{ software.module_version }}</li>
      <li><strong>Toolchain/Version:</strong> {{ software.toolchain}}/{{ software.toolchain_version }}</li>
      <li><strong>CPU instruction set:</strong> {{ software.instruction_set}}</li>
      <li><strong>Example job submission script:</strong><div class='p-3 mb-0 text-secondary'>
          <pre lang="bash">{{ software.example_submission | linebreaks}}</pre></div></li> 
      <li><strong>Benchmark submission script:</strong><div class='p-3 ml-5 mb-0 text-secondary'>
          <pre lang="bash"> {% autoescape off %} {{ software.benchmark_submission  | linebreaks}}{% endautoescape %}</pre></div></li> 
      </ul>
      </div>
      {% endpygment %}
    {% endfor %}
  {% else %}
    <table class="table table-sm table-hover">
    <thead class="table-secondary">
      <th>ID</th>     
      <th>Name</th> 
      <th>Module</th> 
      <th>Toolchain</th> 
      <th>Instruction set</th> 
  </thead> 
    {% for software in software_list %}
      <tr>
        <td> {{ software.id }}</td>
        <td> <a class="link-secondary" href="{{ software.get_absolute_url }}">{{ software.name }}</a></td>
        <td> {{ software.module }}/{{ software.module_version }}</td> 
        <td> {{ software.toolchain }}-{{ software.toolchain_version }}</td> 
        <td> {{ software.instruction_set }}</td> 
      </tr>
    {% endfor %} 
  </table>
  {% endif %}  

{% else %}
  <p>There are no software in the database.</p>
{% endif %}
{% endblock %}
