<td> <a class="link-secondary" href="{{ benchmark.get_absolute_url }}"> {{benchmark.id}}</a> </td>
<td> <a class="link-secondary" href="{{ benchmark.software.get_absolute_url }}">{{ benchmark.software.name }}</a> </td>
<td class="text-nowrap"> {{ benchmark.software.module }}/{{ benchmark.software.module_version }}</td>
<td> {{ benchmark.software.toolchain }}</td>
<td> {{ benchmark.software.instruction_set }}</td>
<td> {{ benchmark.benchmark.name }}</td>
<td style="background-color:#6ead66; color:white"> {{ benchmark.rate_max | stringformat:".2e"}}</td> 
<td style="background-color:#a3cc91"> {{ benchmark.cpu.codename }}</td>
<td style="background-color:#a3cc91"> {{ benchmark.cpu_efficiency }}</td>
<td style="background-color:#a3cc91"> {{ benchmark.core_year }}</td>
<td style="background-color:#a3cc91"> {{ benchmark.gpu_year }}</td>
<td style="background-color:#cdecc0"> {{ benchmark.resource.ntasks }}</td>
<td style="background-color:#cdecc0"> {{ benchmark.resource.ncpu }}</td>
<td style="background-color:#cdecc0"> {{ benchmark.resource.nnodes }}</td> 
<td style="background-color:#a3cc91"> {{ benchmark.resource.ngpu }}<sub>{{ benchmark.gpu.model }}</sub></td>
<td> {{ benchmark.resource.nvlink | yesno:"Yes,No"}}</td>
<td> {{ benchmark.site }}</td>