<td> <a href="{{ benchmark.get_absolute_url }}"> {{benchmark.id}}</a> </td>
<td> <a href="{{ benchmark.software.get_absolute_url }}">{{ benchmark.software.name }}</a> </td>
<td class="text-nowrap"> {{ benchmark.software.module }}/{{ benchmark.software.module_version }}</td>
<td> {{ benchmark.software.toolchain }}</td>
<td> {{ benchmark.software.instruction_set }}</td>
<td> {{ benchmark.benchmark.name }}</td>
<td> {{ benchmark.rate_max }} </td> 
<td> {{ benchmark.cpu_efficiency }}%</a> </td>
<td> {{ benchmark.resource.ntasks }}</td>
<td> {{ benchmark.resource.ncpu }}</td>
<td> {{ benchmark.resource.nnodes }}</td> 
<td> {{ benchmark.resource.ngpu }}</td>
<td> {{ benchmark.resource.nvlink }}</td>
<td> {{ benchmark.site }}</td>