<caption>CPUY,  GPUY: CPU and GPU years per 1 microsecond long simulation<br> C: cores, N: nodes <br>Speed is in ns/sec with integration step 1 fs.<br>Click on a link in the ID column for benchmark details.</caption>
<thead class="table-secondary">
<tr>
    <th>ID</th> 
    <th>Software</th> 
    <th>Module</th>  
    <th>Toolch</th>  
    <th>Arch</th>     
    <th>Data</th>  
    <th>Speed</th>
    <th>CPU<sub>eff</sub></th>
    <th>CPUY</th>
    <th>GPUY</th>    
    <th>TSK</th> 
    <th>C</th> 
    <th>N</th>  
    <th>GPU</th>  
    <th>NVL</th>  
    <th>Site</th> 
 </tr>
</thead> 
<tbody>